:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
/* ! Start Components */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
/* ! Start Btn */
.btn {
  padding: 1rem 1.5rem;
  border-radius: 27px;

  /* display: inline-block; */
  background-color: var(--color-primary);
  /* font-size: 1.6rem; */
  font-family: inherit;
  font-weight: 500;
  /* border: none; */
  /* padding: 1.25rem 4.5rem; */
  /* border-radius: 10rem; */
  cursor: pointer;
  transition: all 0.3s;
}
/* ? End  Btn */
.section-hidden {
  opacity: 0;
  transform: traslateY(8rem);
}
img.lazy-img {
  /* display: none; */
  filter: blur(10px);
}

/* ? End  Components */
/* ! Start Colors */
.c-white {
  color: #fff;
}
.bg-yellow {
  background-color: #ffcb03;
}
.bg-green {
  background-color: #5ec576;
}
.bg-red {
  background-color: #ff585f;
}
/* ? End  Colors */
@media (max-width: 700px) {
  .off-mobile {
    display: none !important;
  }
}
