/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
  /* margin-bottom: -2rem; */
  position: fixed;
  bottom: 0;
  z-index: 101;
}
@media (max-width: 700px) {
  .cookie-message {
    display: block;
    text-align: center;
  }
}
